/* Stylesheet for shop administration. */

body {
	background-color: #C1D7BB;
	color: #141012;
	font-family: Arial;
}
img.goto-start {
	width:110px;
	height:110px;
	-moz-border-radius: 5px;/* round corners in Firefox */
}
img.goto-shop {
	margin: -330px 0 0 550px;
	width:110px;
	height:110px;
	-moz-border-radius: 5px;/* round corners in Firefox */
}

menu.main {
	margin: -100px 25% 100px 142px;
	background-color: white;
	-moz-border-radius: 5px;/* round corners in Firefox */
}

#acp-top-explanation{
	margin: -80px 0 84px 200px;
}

#sidemenu {
	list-style: none;
	text-decoration: none;
	position: fixed; /* temp-solution.... */
	margin: -48px 5% 0 -42px;
	padding: 0 50px 0 0;
	background-color: white;
	-moz-border-radius: 5px; /* round corners in Firefox */
}

.pages {
	list-style: none;
	margin: 0 0 0 200px;
}

.pages2 {
	list-style: none;
	margin: 4% 0 0 200px;
}
.pID{
	background-color: red;
}

h3.pages{
	margin-top: -70px;
}
.per75 {
	font-size: 75%;
	color: #191919;
}
legend {
	font-size: 108%;
	color: #191919;
	padding: 0 0 12px 2px;
}

fieldset {
	display: inline-block;
}
.per85 {
	font-size: 85%;
	color: #191919;
}
