/* Stylesheet for shop administration. */

body {
	background-color: #719A79;
}

img.goto-start {
	width:110px;
	height:110px;
}
img.goto-shop {
	margin: -330px 0 0 550px;
	width:110px;
	height:110px;
}

menu {
	margin: -100px 0 100px 220px;
}

.pages {
	list-style: none;
}
